Rules:
- Music only. No normal videos!
- No songs over 7 minutes long w/o special permission.
- Do not ask for a song to be skipped or meh'ed. Meh the song yourself to vote for a skip.
- Only meh songs if you don't like the song - don't meh because you don't like the DJ or want to get to your song faster.
- No porn content. HCP is a community for all ages!
- No spamming chat.

Failure to follow these rules may result in a mute or ban from the server plug.dj room, and possibly the server.
